@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&family=Ubuntu:ital,wght@0,400;0,500;1,300&display=swap");
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("Assets/Images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.loading {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.stop-loading {
  display: none;
}
.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#content {
  width: 85vw;
  height: auto;
  margin: auto;
  /* margin-left: 6rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  padding-bottom: 5rem;
}

#badge {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#info {
  margin-bottom: 5rem;
}

#heading {
  color: #4a9bda;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5rem;
  margin-left: 0;
}
#main_heading {
  color: #4a9bda;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.5rem;
  margin-left: 0;
}

down-mag {
  display: none;
}

p {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.75rem;
  text-align: justify;
  margin-top: 3rem;
  z-index: 10;
}

input {
  background: rgba(231, 243, 240, 0.55);
  border-radius: 7px;
  width: 95%;
  height: 3rem;
}

#align {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.subm {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

#down,
#share {
  height: 2rem;
  width: 45%;
  color: black;
  padding: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#down {
  padding: 1rem;
}

#mycvs {
  width: 100%;
  height: 100%;
}
#mycvs2 {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  position: absolute;
}
.rel-canvas {
  position: relative;
}
#photo {
  width: 45%;
  max-height: 100%;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.qoute {
  visibility: hidden;
  color: #4a9bda;
  text-align: justify;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 1rem;
}

/* Modal Styling */

.modal-content {
  background-color: #161b22;
}

.modal-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.modal-share-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  #photo {
    width: 45%;
    height: 100%;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 1440px) {
  #content {
    width: 90vw;
    /* margin-left: 4rem; */
    justify-content: space-around;
  }
  p {
    font-size: 1.25rem;
  }
  #heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  #content {
    width: 90vw;
    /* margin-left: 2rem; */
  }
  p {
    font-size: 1.25rem;
  }
  #heading {
    font-size: 1.5rem;
  }
  .action-buttons {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-y: visible;
  }
  #content {
    width: 90vw;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  #badge {
    width: 100%;
  }
  #photo {
    width: 100%;
  }
  #heading {
    font-size: 1.25rem;
  }
  #share,
  #down,
  #subm {
    height: 2rem;
    font-size: 1rem;
    padding: 1.6rem;
  }
  .action-buttons {
    margin: 0.25rem;
    width: 100%;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  #main_heading {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
